In [2]:
import pandas as pd
import numpy as np


# create data with two columns ( name, amount)
data = {
    'product_name':np.random.choice(['Product A', 'Product B', 'Product C', 'Product D'], 100),
    'amount':np.random.normal(100, 20, 100)
}

sales_data = pd.DataFrame(data)
sales_data.head(2)

  product_name     amount
0    Product D  85.616634
1    Product D  88.815024

In [3]:
# save the data
sales_data.to_csv('sales_data.csv', index=False)